<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Achi054/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Achi054" />
            <add key="ClearTextPassword" value="45fd64f02ad5f71d4e17d443f2d695f3803199e0" />
        </github>
    </packageSourceCredentials>
</configuration>